body{
    background-color: #F8F4EA;
    font-family: sans-serif;
    text-align: center;
}

hr{
    border-style: none;
    border-top-style: dashed;
    border-color: #579BB1;
}

input[type=submit] {
    background-color: #579BB1;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
input[type=submit]:hover{
background-color: black;

}

